doctype transitional
head
  title
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
// EXTRA METADATA MARKUP
//if mso
  style(type='text/css').
    .h1 {font-family: 'Helvetica', 'Arial', sans-serif !important; font-weight: 700 !important; vertical-align: middle !important; font-size: 36px !important; mso-line-height-rule: exactly;line-height: 42px !important;}
    .h2 {font-family: 'Helvetica', 'Arial', sans-serif !important;font-weight: 600 !important;vertical-align: middle !important;font-size: 16px !important;mso-line-height-rule: exactly;line-height: 24px !important;}
    .text {font-family: 'Helvetica', 'Arial', sans-serif !important;font-weight: 400 !important;font-size: 16px !important;mso-line-height-rule: exactly;line-height: 21px !important;}
    .text-list {font-family: 'Helvetica', 'Arial', sans-serif !important;font-weight: 400 !important;font-size: 16px !important;mso-line-height-rule: exactly;line-height: 25px !important;}
    .textSmall {font-family: 'Helvetica', 'Arial', sans-serif !important;font-weight: 400 !important;font-size: 14px !important;}
    .text-xsmall {font-family: 'Helvetica', 'Arial', sans-serif !important;font-size: 11px !important;text-transform: uppercase !important;mso-line-height-rule: exactly;line-height: 22px !important;letter-spacing: 1px !important;}
    .text-bold {font-weight: 600 !important;}
    .text-link {text-decoration: underline !important;}
    .text-linkNoUnderline {text-decoration: none !important;}
    .text-strike {text-decoration: line-through !important;}
    .textColorDark {color: #23233e !important;}
    .textColorNormal {color: #4f4f65 !important;}
    .textColorBlue {color: #2020c0 !important;}
    .textColorGray {color: #A5A8AD !important;}
    .textColorWhite {color: #FFFFFF !important;}
    .Button-primary {font-family: 'Helvetica', 'Arial', sans-serif !important;border-radius: 3px !important;border: 1px solid #2020C0 !important;color: #ffffff !important;display: block !important;font-size: 16px !important;font-weight: 600 !important;padding: 18px !important;text-decoration: none !important;}
    .Button-secondary {font-family: 'Helvetica', 'Arial', sans-serif !important;border-radius: 3px !important;border: 1px solid #2020C0 !important;color: #2020C0 !important;display: block !important;font-size: 16px !important;font-weight: 600 !important;padding: 18px !important;text-decoration: none !important;}
// HIDDEN PREHEADER TEXT
.preheader(style='display: none; font-size: 1px; color: rgb(255, 255, 255); line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;')
table.mainTable(border='0' cellpadding='0' cellspacing='0' width='100%' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; background-color: rgb(240, 240, 240);')
  // HEADER
  tr
    td.header(align='center' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;')
      //if (gte mso 9)|(IE)
        table(align='center' border='0' cellspacing='0' cellpadding='0' width='600')
          tr
            td(align='center' valign='top' width='600')
      table.Content(border='0' cellpadding='0' cellspacing='0' width='100%' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; width: 580px; margin: 0 auto;')
        tr.spacer
          td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
        tr.spacer
          td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
        tr
          td(align='left' valign='middle' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;')
            a(href='https://www.exploretock.com' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;')
              img.header-tockLogoImage(src='https://www.rachelcheuk.com/bit-avatar.png' width='74' height='22' alt='Tock' border='0' style='-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; display: block; color: rgb(240, 240, 240);')
        tr.spacer
          td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
        tr.spacer
          td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
      //if (gte mso 9)|(IE)
  // CONTENT
  tr
    td(align='center' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;')
      //if (gte mso 9)|(IE)
        table(align='center' border='0' cellspacing='0' cellpadding='0' width='600')
          tr
            td(align='center' valign='top' width='600')
      table.Content.bg-white(border='0' cellpadding='0' cellspacing='0' width='100%' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; background-color: white; width: 580px; margin: 0 auto;')
        tr
          td.Content-container.Content-container--main.text.textColorNormal(style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell; font-family: "GT America Regular", "Roboto", "Helvetica", "Arial", sans-serif; font-weight: 400; font-size: 16px; line-height: 21px; color: rgb(79, 79, 101); padding-left: 60px; padding-right: 60px; padding-top: 54px; padding-bottom: 60px;')
            table(width='100%' border='0' cellspacing='0' cellpadding='0' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
              tr
                td(valign='top' align='left' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;')
                  table(width='100%' border='0' cellspacing='0' cellpadding='0' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                    tr
                      td(align='left' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;')
                        span.h1.textColorDark(style='font-family: "GT America Condensed Bold", "Roboto Condensed", "Roboto", "Helvetica", "Arial", sans-serif; font-weight: 700; vertical-align: middle; font-size: 36px; line-height: 42px; color: rgb(35, 35, 62);') Reset your password #{firstname}
                    tr.spacer
                      td(height='18px' colspan='2' style='font-size: 18px; line-height:18px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
                    tr
                      td.hr(align='left' colspan='2' valign='top' width='100%' height='1' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell; background-color: rgb(211, 211, 216); border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-line-height-rule: exactly; line-height: 1px;')
                        //if gte mso 15
                    tr.spacer
                      td(height='18px' colspan='2' style='font-size: 18px; line-height:18px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
              tr
                td(valign='top' align='left' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;')
                  table(border='0' cellpadding='0' cellspacing='0' width='100%' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                    tr
                      td.text.textColorNormal(align='left' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell; font-family: "GT America Regular", "Roboto", "Helvetica", "Arial", sans-serif; font-weight: 400; font-size: 16px; line-height: 21px; color: rgb(79, 79, 101);')
                        | Need to reset your password? No problem! Just click the button below and you&rsquo;ll be on your way. If you did not make this request, please ignore this email.
                    tr.spacer
                      td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
                    tr.spacer
                      td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
                    tr
                      td(align='center' valign='center' width='100%' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;')
                        table(border='0' cellspacing='0' cellpadding='0' width='100%' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                          tr
                            td.Button-primary-wrapper(align='center' valign='center' width='100%' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell; border-radius: 3px; background-color: rgb(32, 32, 192);')
                              a.Button-primary(href=url target='_blank' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: "GT America Medium", "Roboto", "Helvetica", "Arial", sans-serif; border-radius: 3px; border: 1px solid rgb(32, 32, 192); color: rgb(255, 255, 255); display: block; font-size: 16px; font-weight: 600; padding: 18px; text-decoration: none;')  Reset your password 
  // FOOTER
  tr
    td.Content(align='center' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell; width: 580px; margin: 0 auto;')
      // Will most likely required a feature flag
      //if (gte mso 9)|(IE)
        table(align='center' border='0' cellspacing='0' cellpadding='0' width='600')
          tr
            td(align='center' valign='top' width='600')
      table.Content-container(width='100%' border='0' cellspacing='0' cellpadding='0' align='center' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding-left: 60px; padding-right: 60px;')
        tr.spacer
          td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
        tr.spacer
          td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
        tr.spacer
          td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
        tr
          td(align='center' valign='top' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;')
            a(href='https://www.exploretock.com' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;')
              img(src='https://storage.googleapis.com/tock-public-assets/images-email-template/tock-brandmark-color.png' width='30' height='30' alt='Tock' border='0' style='-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block;')
        tr.spacer
          td(height='18px' colspan='2' style='font-size: 18px; line-height:18px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
        tr
          td(align='center' style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;')
            .text-xsmall.textColorNormal(style='font-family: "GT America Regular", "Roboto", "Helvetica", "Arial", sans-serif; font-size: 11px; text-transform: uppercase; line-height: 22px; letter-spacing: 1px; color: rgb(79, 79, 101);')
              | &copy; 2019 Company, Inc.
            .text-xsmall.textColorNormal(style='font-family: "GT America Regular", "Roboto", "Helvetica", "Arial", sans-serif; font-size: 11px; text-transform: uppercase; line-height: 22px; letter-spacing: 1px; color: rgb(79, 79, 101);')
              | All Rights Reserved
        tr.spacer
          td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
        tr.spacer
          td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
        tr.spacer
          td(height='12px' colspan='2' style='font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; display: table-cell;') &nbsp;
      //if (gte mso 9)|(IE)
